# Copy this file to aws_credentials and update with your actual AWS access and secret key
# This file is deployed as-is to ~/.aws/credentials for sparrow_cam_app on the target device
[default]
aws_access_key_id = YOUR_ACCESS_KEY_ID
aws_secret_access_key = YOUR_SECRET_ACCESS_KEY
region = eu-central-1
