[defaults]
inventory = inventory.yml
timeout = 30

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=5 -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/.ansible-ssh-%%h-%%r-%%p
pipelining = True
transfer_method = piped
